node_modules
.env
.env.*
terraform/terraform.tfvars
terraform/_mainOld.oldtf
terraform/.terraform
terraform/login.pem
terraform/login
terraform/terraform.tfstate.backup
terraform/terraformold.tfstateold
terraform/terraform.lock.hcl
terraform/terraform.tfstate
dist/*
main_old.tf
.terraform.lock.hcl
nginx
nginx.conf
